*{
    overflow: hidden;
}
html,body { height: 100%; width: 100%; margin: 0px; padding: 0px;}
#ServiceSelector {
    .btn{
        width: 97%;
        border-radius: 0px;
        font-size: 20px;
        background-color: var(--primary);
        color: #fff;
        cursor: pointer;
        transition: .3s;
        border: none;
        letter-spacing: 2px;
        display: inline-block;
        border-left: 15px solid var(--secondary) ;
        padding-top: 17px;
        /* rgba(22, 214, 22, 0.534) */
    }
    .hover-true:hover{
        opacity: .9;
        color: #fff;
    }
    .theme-dark{
        border: 1px solid var(--primary);
        background-color: var(--primary);
        color: #fff;
    }
    .theme-medium{
        background-color: var(--primary);
        color: #fff;
    }
    .theme-light{
        background-color: var(--primary);
        color: #fff;
    }
    .size-large{
        font-size: 30px;
        min-height: 100px;
    }
    .size-medium{
        font-size: 25px;
        min-height: 75px;
    }
    .size-small{
        font-size: 20px;
        min-height: 50px;
    }
    .checkbox{
        display: none;
    }
}

#ServicesPage{
   .bottom-btns{
       position: fixed;
       bottom: 0px;
       margin: 0;
       width: 100%;
       z-index: 9;
       background-color: #000;
   }
   .col{
       width: 100%;
       padding-right:0;
       padding-left:0;
   }
   .service_h{
     padding: 0 25px 25px 25px;
     font-size: 4vw;
     text-align: center;
     letter-spacing: 2px;
     color: #333;
   }
   .language_select{
     text-align: right;
     padding: 20px 30px;
     margin: 10px 25px;
   }
   .services_container{
     margin-top: 2vh;
     max-height: 50vh;
     overflow-y: auto !important;
     overflow-x: hidden !important;
   }
   .services_container .service{
       padding: 0px 20px 20px 20px;
   }
}

#Button{
    .btn{
        width: 100%;
        border-radius: 0px;
        font-size: 20px;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        transition: .3s;
        border: none;
        letter-spacing: 2px;
    }
    .hover-true:hover{
        opacity: .9;
        color: #fff;
    }
    .theme-dark{
        border: 1px solid var(--primary);
        background-color: var(--primary);
        color: #fff;
    }
    .theme-outline{
        border: 1px solid #ffffff;
        background-color: transparent;
        color: #ffffff;
    }
    .theme-medium{
        background-color: var(--primary-medium);
        color: #fff;
    }
    .theme-light{
        background-color: var(--primary-light);
        color: #fff;
    }
    .size-large{
        font-size: 30px;
        min-height: 100px;
        padding-top: 20px;
    }
    .size-medium{
        font-size: 25px;
        min-height: 75px;
        padding-top: 15px;
    }
    .size-small{
        font-size: 20px;
        min-height: 50px;
        padding-top: 10px;
    }
}

#LanguageSelector{
    display: inline-block;
    border: 1px solid var(--primary);
    border-radius: 40px;
    padding: 10px 15px;
    font-size: 23px;
    color: #333;
    span{
        letter-spacing: 1px;
    }
    .language{
        display: none;
        cursor: pointer;
    }
    .separator{
        display: none;
    }
    .country_flag{
        width: 40px;
        margin-right: 10px;
    }
    .separator{
        padding: 0 25px;
        color: #192f6048;
    }
    .active{
        display: inline;
        background-color: var(--primary);
        padding: 15px 25px 20px 20px;
        margin-left: -15px;
        margin-right: -32px;
        color: #fff;
        border-radius: 50px;
    }
    .selected{
        display: inline;
        background-color: #ffffff;
        padding: 15px 25px 20px 20px;
        margin-left: -15px;
        margin-right: -32px;
        color: var(--primary);
        border-radius: 50px;
        border: 1px solid var(--primary);
    }
    .active .caret_right{
        display: inline-block;
    }
    .caret_left, .caret_right{
        margin: -2px;
        margin-left: 10px;
        margin-right: 10px;
        display: none;
    }
    .active .caret_right{
        display: inline;
    }
    @media screen and (max-width: 680px){
        .language-name{
            display: none;
        }
    }
}
#DialButton{
    .btn{
        width: 100%;
        border-radius: 0px;
        font-size: 25px;
        color: #fff;
        cursor: pointer;
        transition: .3s;
        border: none;
        letter-spacing: 2px;
        border-radius: 5px;
        height: 50px;
        padding-top: -10px;
    }
    .theme-outline.hover-true:hover{
        opacity: .8;
        color: #fff;
    }
    .theme-default.hover-true:hover{
        opacity: .8;
        color: var(--primary);
    }
    .theme-outline{
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
    }
    .theme-default{
        background-color: #fff;
        color: var(--primary);
    }
    .size-large{
        font-size: 30px;
        height: 100px;
        padding-top: 20px;
    }
    .size-medium{
        font-size: 4vh;
        height: 7vh;
        padding-top: 15px;
    }
    .size-small{
        height: 5.5vh;
        font-size: 2.5vh;
        padding-top: -5px;
    }
    .font-large{
        font-size: 2.5vh;
        padding-bottom: 6vh;
    }
}
#Dial{
    padding: 40px 70px 0px 60px;
    max-width: 550px;
    margin: auto;
    .col{
        margin: 0 5px;
    }
    .envoyer_sms{
        margin-top: 36px;
    }
}
#Ticket{
    .horizontal-ticket{
        .ticket-logo{
            display: inline-block;
            max-width: 100%;
            text-align: left;
        }
        .welcome{
            display: inline-block;
            max-width: 100%;
            text-align: right;
        }
    }
   .bottom-btns{
       position: fixed;
       bottom: 0px;
       margin: 0;
       width: 100%;
       z-index: 9;
       background-color: var(--primary);
   }
   .col{
       width: 100%;
       padding-right:0;
       padding-left:0;
   }
   .ticketDiv {
       height: 100vh;
   }
   .ticketDiv .rightSide{
     background: linear-gradient(to right ,var(--primary), var(--primary-medium));
   }
   .ticketDiv .container{
     width: 80%;
   }
   .ticketDiv .leftSide{
     margin-top: 40px;
     font-size: 3vh;
     text-align: left;
     letter-spacing: 1px;
     color: #333;

   }
   .ticketDiv .leftSide .small{
     margin-top: 5vh;
     font-size: 3vh;
     text-align: left;
     letter-spacing: 1px;
   }
   .image{
     width: 40%;
   }
   .print_ticket{
     margin-top: 20px;
   }
   .ticketDiv .rightSide{
     padding-top: 5vh;
     font-size: 5vh;
     text-align: left;
     letter-spacing: 1px;
   }
   .right_header{
     text-align: center;
     color: #fff;
     font-size: 3vh;
     letter-spacing: 1px;
   }

   @media screen and (max-height: 500px) {
       .rightSide .container:first-child{
           display: none;
       }
       .image{
           display: none;
       }
       .print_ticket{
        margin-top: 60px;
      }
   }
   #ticketPrint {display: none;}
   @media print {
       @page {
           margin: 0.5cm;
           size: 8cm 16cm;
       }
       #services-box {display: none;}
       
       * {
           background: white;
           color: #000000;
       }
       #ticketPrint {
           display: block;
           width: 10.5cm;

       }
       .seperator{
           margin-top: 0.3cm;
       }
       hr {
           border: 0.5px solid black;
           border-style: inset;
           border-collapse:collapse;
           line-height: 1px;
       }
       #footer {
           width: 100%;
           height: 4cm;
           margin-top: 10px;
           /* Footer height */
       }
   }
}

#home{
   .background-ad{
       text-align: center;
       width: 100%;
       z-index: 1;
   }
   .background-ad img{
       background-size: contain;
       width: 100%;
   }
   .bottom-btns{
       position: fixed;
       bottom: 0px;
       margin: 0;
       width: 100%;
       z-index: 9;
       background-color: var(--primary);
   }
   .col{
       width: 100%;
       padding-right:0;
       padding-left:0;
   }
}